
*.log
/results
src/ffmpeg_example.mp4
src/pareto-front-over-time.png
src/soja_allocation_2_objectives.mp4
src/soja_allocation_3_objectives.mp4
/src/2023-12-20-soja-allocation-3-objectives
/src/2024-01-19-soja-allocation-3-objectives
src/2024-01-19-soja-allocation-3-objectives.mp4
/src/2024-05-20-soja-allocation-2-objectives-mean-std
/src/2024-06-22-soja-allocation-2-objectives-mean-std-eu27
/src/.ipynb_checkpoints
/src/__pycache__
/src/.ipynb_checkpoints
/src/.ipynb_checkpoints
/src/2024-06-27-soja-allocation-2-objectives-mean-std-eu27
/src/2024-07-20-soja-allocation-2-objectives-mean-std-eu27
/src/2024-07-20-soja-allocation-2-objectives-mean-std-eu27-b
src/ffmpeg_example_a.mp4
/src/2024-07-20-soja-cma-es
/src/2024-07-27-16-29-53-mean_soja-std_soja-total_surface-moead
/src/2024-07-27-16-33-12-mean_soja-std_soja-moead
/src/2024-07-27-16-33-24-mean_soja-std_soja-moead
/src/2024-07-27-16-34-45-mean_soja-std_soja-moead
